gunicorn 
pandas
beautifulsoup4
lxml
streamlit
-e git+https://github.com/kurama8103/tdnet_tool.git#egg=tdnet_tool
streamlit_folium
folium
-e git+https://github.com/kurama8103/gpxdf.git#egg=gpxdf
-e git+https://github.com/kurama8103/myfunc.git#egg=myfunc
QuantStats==0.0.58
scikit-learn
pyportfolioopt
japanize_matplotlib
# darts
IPython